<!DOCTYPE html>
<html {{ function('language_attributes') }}>
<head>
	<meta charset="{{ site.charset }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{{ site.name }}</title>
	<meta name="description" content="{{ site.description }}">

    {{ function('wp_head') }}

    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="//fonts.googleapis.com/" crossorigin>
	<link rel="preconnect" href="//unpkg.com/" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com/">
	<link rel="dns-prefetch" href="//polyfill.io/">
	<link rel="dns-prefetch" href="//unpkg.com/">

		{% if localhost or acf_global.dev  %}
			<script>
				document.write('<script src="http://' + (
location.host || 'localhost'
).split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
			</script>
		{% endif %}

    {% block head %}{% endblock %}

	<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="top" aria-hidden="true"></div>

    {% include "core/header/header_content.twig" %}

	<main class="w-full flex flex-col min-h-[100vh]">
    	{% block content %}{% endblock %}

		{% include "core/footer/footer.twig" %}
	</main>
</body>
</html>